@model IEnumerable<MVCRestApi.Models.Galaxies>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th>
               
            </th>
            <th>
                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img src="~/Images/GalaxyImages/@Html.DisplayFor(modelItem => item.ImageName)" alt="Galaxy Images" />
            </td>
            <td>
                <img src="~/Images/GalaxyImages/@Html.DisplayFor(modelItem => item.ImageNameTwo)" alt="Galaxy Images" />
            </td>
        </tr>
}
    </tbody>
</table>
